{
  "plugins": ["react-hooks"],
  "parser": "@babel/eslint-parser",
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 14
  }
}
